<{assign var=tags value=$block.tags}>
<{assign var=xootags_colors value=$block.colors}>

<script type="text/javascript" src="<{xoImgUrl modules/xootags/media/jquery/jquery.cloud/jqcloud-1.0.2.js}>"></script>
<link rel="stylesheet" href="<{xoImgUrl modules/xootags/media/jquery/jquery.cloud/jqcloud.css}>" type="text/css" media="screen" />
<link rel="stylesheet" href="<{xoImgUrl modules/xootags/css/blocks.css}>" type="text/css" media="screen" />

<{includeq file='module:xootags|xootags_css.html' ags=$block.tags}>

<script type="text/javascript">
var word_list = [
    <{foreachq from=$tags item=tag name=foo}>
        {text: "<{$tag.tag_term}><{if $xootags_count}> (<{$tag.tag_count}>)<{/if}>", class: "tag<{$tag.tag_id}> <{cycle values="$xootags_colors"}>", weight: <{$tag.size}>, link: "<{xoAppUrl /modules/xootags/}>tag.php?tag_id=<{$tag.tag_id}>"},
    <{/foreach}>
];
$(function() {
    $("#xootagsCloud").jQCloud(word_list);
});
</script>

<div id="xootagsCloud"></div>