.Black {
    color: #000000;
}

.Navy {
    color: #000080;
}

.DarkBlue {
    color: #00008B;
}

.MediumBlue {
    color: #0000CD;
}

.Blue {
    color: #0000FF;
}

.DarkGreen {
    color: #006400;
}

.Green {
    color: #008000;
}

.Teal {
    color: #008080;
}

.DarkCyan {
    color: #008B8B;
}

.DeepSkyBlue {
    color: #00BFFF;
}

.DarkTurquoise {
    color: #00CED1;
}

.MediumSpringGreen {
    color: #00FA9A;
}

.Lime {
    color: #00FF00;
}

.SpringGreen {
    color: #00FF7F;
}

.Aqua {
    color: #00FFFF;
}

.Cyan {
    color: #00FFFF;
}

.MidnightBlue {
    color: #191970;
}

.DodgerBlue {
    color: #1E90FF;
}

.LightSeaGreen {
    color: #20B2AA;
}

.ForestGreen {
    color: #228B22;
}

.SeaGreen {
    color: #2E8B57;
}

.DarkSlateGray {
    color: #2F4F4F;
}

.DarkSlateGrey {
    color: #2F4F4F;
}

.LimeGreen {
    color: #32CD32;
}

.MediumSeaGreen {
    color: #3CB371;
}

.Turquoise {
    color: #40E0D0;
}

.RoyalBlue {
    color: #4169E1;
}

.SteelBlue {
    color: #4682B4;
}

.DarkSlateBlue {
    color: #483D8B;
}

.MediumTurquoise {
    color: #48D1CC;
}

.Indigo {
    color: #4B0082;
}

.DarkOliveGreen {
    color: #556B2F;
}

.CadetBlue {
    color: #5F9EA0;
}

.CornflowerBlue {
    color: #6495ED;
}

.MediumAquaMarine {
    color: #66CDAA;
}

.DimGray {
    color: #696969;
}

.DimGrey {
    color: #696969;
}

.SlateBlue {
    color: #6A5ACD;
}

.OliveDrab {
    color: #6B8E23;
}

.SlateGray {
    color: #708090;
}

.SlateGrey {
    color: #708090;
}

.LightSlateGray {
    color: #778899;
}

.LightSlateGrey {
    color: #778899;
}

.MediumSlateBlue {
    color: #7B68EE;
}

.LawnGreen {
    color: #7CFC00;
}

.Chartreuse {
    color: #7FFF00;
}

.Aquamarine {
    color: #7FFFD4;
}

.Maroon {
    color: #800000;
}

.Purple {
    color: #800080;
}

.Olive {
    color: #808000;
}

.Gray {
    color: #808080;
}

.Grey {
    color: #808080;
}

.SkyBlue {
    color: #87CEEB;
}

.LightSkyBlue {
    color: #87CEFA;
}

.BlueViolet {
    color: #8A2BE2;
}

.DarkRed {
    color: #8B0000;
}

.DarkMagenta {
    color: #8B008B;
}

.SaddleBrown {
    color: #8B4513;
}

.DarkSeaGreen {
    color: #8FBC8F;
}

.LightGreen {
    color: #90EE90;
}

.MediumPurple {
    color: #9370DB;
}

.DarkViolet {
    color: #9400D3;
}

.PaleGreen {
    color: #98FB98;
}

.DarkOrchid {
    color: #9932CC;
}

.YellowGreen {
    color: #9ACD32;
}

.Sienna {
    color: #A0522D;
}

.Brown {
    color: #A52A2A;
}

.DarkGray {
    color: #A9A9A9;
}

.DarkGrey {
    color: #A9A9A9;
}

.LightBlue {
    color: #ADD8E6;
}

.GreenYellow {
    color: #ADFF2F;
}

.PaleTurquoise {
    color: #AFEEEE;
}

.LightSteelBlue {
    color: #B0C4DE;
}

.PowderBlue {
    color: #B0E0E6;
}

.FireBrick {
    color: #B22222;
}

.DarkGoldenRod {
    color: #B8860B;
}

.MediumOrchid {
    color: #BA55D3;
}

.RosyBrown {
    color: #BC8F8F;
}

.DarkKhaki {
    color: #BDB76B;
}

.Silver {
    color: #C0C0C0;
}

.MediumVioletRed {
    color: #C71585;
}

.IndianRed {
    color: #CD5C5C;
}

.Peru {
    color: #CD853F;
}

.Chocolate {
    color: #D2691E;
}

.Tan {
    color: #D2B48C;
}

.LightGray {
    color: #D3D3D3;
}

.LightGrey {
    color: #D3D3D3;
}

.Thistle {
    color: #D8BFD8;
}

.Orchid {
    color: #DA70D6;
}

.GoldenRod {
    color: #DAA520;
}

.PaleVioletRed {
    color: #DB7093;
}

.Crimson {
    color: #DC143C;
}

.Gainsboro {
    color: #DCDCDC;
}

.Plum {
    color: #DDA0DD;
}

.BurlyWood {
    color: #DEB887;
}

.LightCyan {
    color: #E0FFFF;
}

.Lavender {
    color: #E6E6FA;
}

.DarkSalmon {
    color: #E9967A;
}

.Violet {
    color: #EE82EE;
}

.PaleGoldenRod {
    color: #EEE8AA;
}

.LightCoral {
    color: #F08080;
}

.Khaki {
    color: #F0E68C;
}

.AliceBlue {
    color: #F0F8FF;
}

.HoneyDew {
    color: #F0FFF0;
}

.Azure {
    color: #F0FFFF;
}

.SandyBrown {
    color: #F4A460;
}

.Wheat {
    color: #F5DEB3;
}

.Beige {
    color: #F5F5DC;
}

.WhiteSmoke {
    color: #F5F5F5;
}

.MintCream {
    color: #F5FFFA;
}

.GhostWhite {
    color: #F8F8FF;
}

.Salmon {
    color: #FA8072;
}

.AntiqueWhite {
    color: #FAEBD7;
}

.Linen {
    color: #FAF0E6;
}

.LightGoldenRodYellow {
    color: #FAFAD2;
}

.OldLace {
    color: #FDF5E6;
}

.Red {
    color: #FF0000;
}

.Fuchsia {
    color: #FF00FF;
}

.Magenta {
    color: #FF00FF;
}

.DeepPink {
    color: #FF1493;
}

.OrangeRed {
    color: #FF4500;
}

.Tomato {
    color: #FF6347;
}

.HotPink {
    color: #FF69B4;
}

.Coral {
    color: #FF7F50;
}

.Darkorange {
    color: #FF8C00;
}

.LightSalmon {
    color: #FFA07A;
}

.Orange {
    color: #FFA500;
}

.LightPink {
    color: #FFB6C1;
}

.Pink {
    color: #FFC0CB;
}

.Gold {
    color: #FFD700;
}

.PeachPuff {
    color: #FFDAB9;
}

.NavajoWhite {
    color: #FFDEAD;
}

.Moccasin {
    color: #FFE4B5;
}

.Bisque {
    color: #FFE4C4;
}

.MistyRose {
    color: #FFE4E1;
}

.BlanchedAlmond {
    color: #FFEBCD;
}

.PapayaWhip {
    color: #FFEFD5;
}

.LavenderBlush {
    color: #FFF0F5;
}

.SeaShell {
    color: #FFF5EE;
}

.Cornsilk {
    color: #FFF8DC;
}

.LemonChiffon {
    color: #FFFACD;
}

.FloralWhite {
    color: #FFFAF0;
}

.Snow {
    color: #FFFAFA;
}

.Yellow {
    color: #FFFF00;
}

.LightYellow {
    color: #FFFFE0;
}

.Ivory {
    color: #FFFFF0;
}

.White {
    color: #FFFFFF;
}
