@import url(item.css);
@import url(colors.css);

#xootagsCloudBlock {
    margin: 0 auto;
    padding: .2em .5em;
    width: 96%;
    min-height: 600px !important;
    font-size: 8px !important;
}

div.jqcloud span.w10 {
    font-size: 200%;
}

div.jqcloud span.w9 {
    font-size: 190%;
}

div.jqcloud span.w8 {
    font-size: 180%;
}

div.jqcloud span.w7 {
    font-size: 170%;
}

div.jqcloud span.w6 {
    font-size: 160%;
}

div.jqcloud span.w5 {
    font-size: 150%;
}

div.jqcloud span.w4 {
    font-size: 140%;
}

div.jqcloud span.w3 {
    font-size: 130%;
}

div.jqcloud span.w2 {
    font-size: 120%;
}

div.jqcloud span.w1 {
    font-size: 110%;
}
