@import url(item.css);
@import url(colors.css);

#xootagsCloud {
    margin:                0 auto;
    padding:               .5em 0;
    border:                1px solid #ccc;
    border-radius:         3px;
    width:                 100%;
    min-height:            150px;
}
div.jqcloud span.w10 { font-size: 325%; }
div.jqcloud span.w9 { font-size: 300%; }
div.jqcloud span.w8 { font-size: 275%; }
div.jqcloud span.w7 { font-size: 250%; }
div.jqcloud span.w6 { font-size: 225%; }
div.jqcloud span.w5 { font-size: 200%; }
div.jqcloud span.w4 { font-size: 175%; }
div.jqcloud span.w3 { font-size: 150%; }
div.jqcloud span.w2 { font-size: 125%; }
div.jqcloud span.w1 { font-size: 100%; }